target
crates/test-artifacts/guests/target/
crates/test-artifacts/guests/Cargo.lock
.idea
.vscode
*.log
bins

# Proofs
**/proof-with-pis.bin
**/proof-with-io.bin
proof-with-is-prime.bin
**/program.bin
**/stdin.bin

# Security reports
reports/
audit-report.json
geiger-report.md
semgrep-report.json
trivy-results.sarif
sbom.spdx.json
comment.md
audit.log
clippy.log

